.background-login {
  background-image: url('auth.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}

.content-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 50px);
}

.login {
  width: 500px;
  height: min-content;
  border: 1px solid transparent;
  border-radius: 24px;
  background-color: #ffff;
  padding: 80px 40px;
}

.login__title {
  text-align: center;
  font-size: 32px;
}

.login__form {
  margin-top: 32px;
}
